.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 15px;

}
.box{
    padding: 20px;
    background-color: lightcoral;
    border: 1px solid black;
    text-align: center;
    color: white;
}
.box-6 {
    grid-column: span 6;
}

.box-4 {
    grid-column: span 4;
}

.box-3 {
    grid-column: span 3;
}

