.container {
    display: grid;
    grid-template-rows: 100px 150px;
    gap: 10px;

}
.item {
    padding: 20px;
    background-color: lightcoral;
    border: 1px solid black;
    text-align: center;
    color: white;
}